{% extends 'blog/base.html' %}


{% block title %}
    share
{% endblock title %}
    


{% block content %}
    
    {% if sent %}
        <h1>Email Successfully sent</h1>
        <p>
            {{ post.title }} was successfully sent to {{ form.cleaned_data.to }}
        </p>
    {% else %}
        <h1>Share {{ post.title }} by email</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Send email">
        </form>
    {% endif %}
        
{% endblock content %}
    



